In [53]:
import pgeocode
import requests
import pandas as pd

In [54]:
country = "GB"


download_url = f"https://symerio.github.io/postal-codes-data/data/geonames/{country}.txt"

In [55]:
column_names = [
    "country_code",
    "postal_code", 
    "place_name", 
    "country_name", 
    "country_abv", 
    "county_name", 
    "admin_1", 
    "district_name", 
    "ons_code", 
    "latitude", 
    "longitude", 
    "accuracy"
]

print(download_url) # postcodes innercode (second half of the postcode is always three letters long!!!!

https://symerio.github.io/postal-codes-data/data/geonames/GB.txt

In [56]:
response = requests.get(download_url)

if response.status_code == 200:
    print(f'Response sucess {response.status_code}')
    df_geo = pd.read_csv(download_url, sep="\t", header=None, names=column_names, dtype=str)
    
else:
    print(f'Unsuccesful {response.status_code}')

Response sucess 200

In [57]:
df_geo

,country_code,postal_code,place_name,country_name,country_abv,county_name,admin_1,district_name,ons_code,latitude,longitude,accuracy
0,GB,BN91,Worthing,England,ENG,NaN,NaN,NaN,NaN,50.818,-0.3754,NaN
1,GB,M9,Manchester,England,ENG,Greater Manchester,NaN,Manchester District (B),E08000003,53.522,-2.2139,NaN
2,GB,M90,Ringway,England,ENG,Greater Manchester,NaN,Manchester District (B),E08000003,53.3635,-2.278,NaN
3,GB,S5,Sheffield,England,ENG,South Yorkshire,NaN,Sheffield District (B),E08000019,53.4222,-1.4632,NaN
4,GB,WV98,Wolverhampton,England,ENG,West Midlands,NaN,City of Wolverhampton District (B),E08000031,52.4054,-2.22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
27445,GB,IM2,Douglas,NaN,NaN,NaN,NaN,NaN,NaN,54.15,-4.4833,4
27446,GB,JE1,St Helier,NaN,NaN,Jersey Channel Islands,NaN,NaN,NaN,49.188,-2.1049,4
27447,GB,JE2,St Helier,NaN,NaN,Jersey Channel Islands,NaN,NaN,NaN,49.188,-2.1049,4
27448,GB,JE3,St Lawrence,NaN,NaN,Jersey Channel Islands,NaN,NaN,NaN,49.2158,-2.1414,4
27449,GB,JE3,St Brelades,NaN,NaN,Jersey Channel Islands,NaN,NaN,NaN,49.2158,-2.1414,3